<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TimKiemSP</servlet-name>
        <servlet-class>TimKiemSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemSP</servlet-name>
        <servlet-class>ThemSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaSP</servlet-name>
        <servlet-class>XoaSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HienThi</servlet-name>
        <servlet-class>HienThi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimKiemSP</servlet-name>
        <url-pattern>/TimKiemSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemSP</servlet-name>
        <url-pattern>/ThemSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaSP</servlet-name>
        <url-pattern>/XoaSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HienThi</servlet-name>
        <url-pattern>/HienThi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
